@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f52ce7;
@define-color mauve #cba6f7;
@define-color blue #89b4fa;
@define-color red #f38bba;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color lavender #b4befe;
@define-color cotton #fbfbf9;
@define-color crust #11111b;

@define-color neutral #6c7086;

* {
  min-height: 0;
  min-width: 0;
  font-family: "JetBrainsMono";
  font-size: 16;
  font-weight: 600;
}

window#waybar {
  background: @crust;
  background-color: transparent;
  border-radius: 6px;
  margin: 0.4rem 0.2rem;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window > box {
  margin-top: 4px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 4px;
}

#workspaces {
  background-color: @crust;
  border-radius: 6px;
  margin: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

#workspaces button {
  background-color: @crust;
  color: @neutral;
  border: transparent;
}

#workspaces button:hover {
  color:@cotton;
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button.urgent {
  color: @red;
}

#pulseaudio,
#clock,
#battery,
#network,
#tray,
#window {
  padding: 1.0rem 1.2rem;
  margin: 0.2rem 0.2rem;
  border-radius: 6px;
  background-color: @crust;
  color: @cotton;
}

window#waybar.empty #window {
  background-color: transparent;
}

#battery {
}

#network {
  color: @yellow;
}

#clock {
  color: @maroon;
}

#clock.simpleclock {
}

#window {
}

#pulseaudio {
  color: @blue;
}

#pulseaudio.muted {
  color: @red;
}

tooltip {
  background-color: @crust;
  border: 2px solid @cotton;
}
